## Set     
~ Sets are used to store multiple items in a single variable.     

~ Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.       

~ A set is a collection which is unordered, unchangeable*, and unindexed.     

* Note: Set items are unchangeable, but you can remove items and add new items.     

~ Sets are written with curly brackets.

In [1]:
# Create a Set:

mySet = {1,2,3,4,5}
print(mySet)

{1, 2, 3, 4, 5}

## Set Items       
~ Set items are unordered, unchangeable, and do not allow duplicate values.       
* Note: Sets are unordered, so you cannot be sure in which order the items will appear.


## Unordered       
~ Unordered means that the items in a set do not have a defined order.        

~ Set items can appear in a different order every time you use them, and cannot be referred to by index or key.       

## Unchangeable        
~ Set items are unchangeable, meaning that we cannot change the items after the set has been created.     

~ Once a set is created, you cannot change its items, but you can remove items and add new items.     

## Duplicates Not Allowed      
~ Sets cannot have two items with the same value.

In [3]:
# Duplicate values will be ignored:
mySet = {1, 2, 3, 4, 5, 1, 2 ,3 ,4 ,5}
print(mySet)

{1, 2, 3, 4, 5}

In [12]:
# Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

mySet = {"One", "two", 1, 1, True}
anotherSet = {"Hi", "Bye", True, 1}
print(mySet)
print(anotherSet)

{1, 'One', 'two'}
{'Hi', 'Bye', True}

In [13]:
# False and 0 is considered the same value:
mySet = {"One", "two", 0, 1, False}
anotherSet = {"Hi", "Bye", False, 0}
print(mySet)
print(anotherSet)

{0, 1, 'One', 'two'}
{False, 'Hi', 'Bye'}

## Access Items        
~ You cannot access items in a set by referring to an index or a key.     

~ But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [14]:
# Loop through the set, and print the values:

mySet = {"One", "Two", "Three"}
for item in mySet:
    print(item)

One
Three
Two

In [17]:
# Check if "Two" is in set
mySet = {"One", "Two", "Three"}
print("Two" in mySet)
print("two" in mySet)

if "Three" in mySet:
    print("Yes, 'Three' can be found in mySet")

True
False
Yes, 'Three' can be found in mySet

## Change Items
~ Once a set is created, you cannot change its items, but you can add new items.

## Add Items
~ Once a set is created, you cannot change its items, but you can add new items.        

~ To add one item to a set use the add() method.

In [18]:
mySet = {"One", "Two", "Three"}
mySet.add("Four")
print(mySet)

{'Four', 'One', 'Three', 'Two'}

## Add Sets
~ To add items from another set into the current set, use the update() method.

In [19]:
mySet = {"One", "Two", "Three"}
yourSet = {"Four", "Five", "Six"}
mySet.update(yourSet)
print(mySet)

{'One', 'Four', 'Five', 'Three', 'Six', 'Two'}

## Add Any Iterable
~ The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [20]:
mySet = {"One", "Two", "Three"}
myList = [1,2,3]
myTuple = ("List", "Tuple", "Set", "Dictionary")

mySet.update(myList)
print(mySet)
mySet.update(myTuple)
print(mySet)

{1, 2, 3, 'Two', 'One', 'Three'}
{1, 2, 3, 'Tuple', 'Set', 'Two', 'Dictionary', 'One', 'Three', 'List'}

## Remove Item
~ To remove an item in a set, use the remove(), or the discard() method.        
~ Note: If the item to remove does not exist, remove() will raise an error.

In [23]:
mySet = {"One", "Two", "Three"}
mySet.remove("Three")
print(mySet)
mySet.remove("Three")
print(mySet)

{'One', 'Two'}

KeyError: 'Three'

In [24]:
# Note: If the item to remove does not exist, remove() will raise an error.
mySet = {"One", "Two", "Three"}
mySet.discard("Three")
print(mySet)
mySet.discard("Three")
print(mySet)

{'One', 'Two'}
{'One', 'Two'}

~ You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.        

~ The return value of the pop() method is the removed item.     

~ Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [25]:
mySet = {"One", "Two", "Three"}
popped = mySet.pop()
print(popped)
print(mySet)

One
{'Three', 'Two'}

The clear() method empties the set:

In [26]:
mySet = {"One", "Two", "Three"}
print(mySet)
mySet.clear()
print(mySet)

{'One', 'Three', 'Two'}
set()

The del keyword will delete the set completely:

In [30]:
mySet = {"One", "Two", "Three"}
print(mySet)
del mySet
print(mySet)

{'One', 'Three', 'Two'}

NameError: name 'mySet' is not defined

## Loop Items
~ You can loop through the set items by using a for loop:

In [31]:
mySet = {"One", "Two", "Three"}
for item in mySet:
    print(item)

One
Three
Two

## Join Sets        
~ There are several ways to join two or more sets in Python.        

~ The union() and update() methods joins all items from both sets.      

~ The intersection() method keeps ONLY the duplicates.      

~ The difference() method keeps the items from the first set that are not in the other set(s).      

~ The symmetric_difference() method keeps all items EXCEPT the duplicates.

## Union
~ The union() method returns a new set with all items from both sets.

In [32]:
mySet={"1","2","3"}
yourSet={"1", "4", "5"}
unionSet=mySet.union(yourSet)
print(unionSet)

{'4', '1', '5', '3', '2'}

You can use the | operator instead of the union() method, and you will get the same result.

In [33]:
mySet={"1","2","3"}
yourSet={"1", "4", "5"}
unionSet=mySet | (yourSet)
print(unionSet)

{'4', '1', '5', '3', '2'}

## Join Multiple Sets       
~ All the joining methods and operators can be used to join multiple sets.      

~ When using a method, just add more sets in the parentheses, separated by commas:

In [34]:
# Join multiple sets with the union() method:

mySet = {"1","2","3"}
yourSet = {"1", "4", "5"}
hisSet = {"One", "Two", "Three", "Four"}
herSet = {"Apple", "Orange", "Pear"}
theirSet = {"Plane", "Bird", "Superman"}
unionSet=mySet.union(yourSet, hisSet, herSet, theirSet)
print(unionSet)

{'Apple', 'Four', 'Plane', 'Bird', '2', 'Two', 'Orange', 'One', '4', '1', '5', 'Superman', '3', 'Pear', 'Three'}

In [35]:
# Join multiple sets using | operator:

mySet = {"1","2","3"}
yourSet = {"1", "4", "5"}
hisSet = {"One", "Two", "Three", "Four"}
herSet = {"Apple", "Orange", "Pear"}
theirSet = {"Plane", "Bird", "Superman"}
unionSet = mySet | yourSet | hisSet | herSet | theirSet
print(unionSet)

{'Apple', 'Four', 'Plane', 'Bird', '2', 'Two', 'Orange', 'One', '4', '1', '5', 'Superman', '3', 'Pear', 'Three'}

## Join a Set and a Tuple      
~ The union() method allows you to join a set with other data types, like lists or tuples.        

~ The result will be a set.       

* Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

In [37]:
mySet = {"1","2","3"}
myList = ["One", "Two", "Three"]
myTuple =("Apple", "Orange", "Pear")

unionSet = mySet.union(myList, myTuple)
print(unionSet)

{'Apple', '2', 'Two', 'Orange', 'One', '1', '3', 'Pear', 'Three'}

## Update       
~ The update() method inserts all items from one set into another.      

~ The update() changes the original set, and does not return a new set.

In [38]:
mySet = {"1","2","3"}
yourSet = {"1", "4", "5"}
hisSet = {"One", "Two", "Three", "Four"}
herSet = {"Apple", "Orange", "Pear"}

mySet.update(yourSet, hisSet, herSet)
print(mySet) # changes the original set, and does not return a new set.

{'Apple', 'Four', '2', 'Two', 'Orange', 'One', '4', '1', '5', '3', 'Pear', 'Three'}

## Intersection        
~ Keep ONLY the duplicates        

~ The intersection() method will return a new set, that only contains the items that are present in both sets.

In [40]:
# Join mySet and yourSet, but keep only the duplicates:
mySet = {"1","2","3"}
yourSet = {"1", "4", "5"}
myList = ["1","two"]

interset = mySet.intersection(yourSet, myList)
print(interset)

{'1'}

~ You can use the & operator instead of the intersection() method, and you will get the same result.        

~ Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

In [41]:
# Use & to join two sets:

mySet = {"1","2","3"}
yourSet = {"1", "4", "5"}

interset = mySet & yourSet
print(interset)

{'1'}

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [42]:
# Use & to join two sets:

mySet = {"1","2","3"}
yourSet = {"1", "4", "5"}

mySet.intersection_update(yourSet)
print(mySet)

{'1'}

The values True and 1 are considered the same value. The same goes for False and 0.

In [46]:
mySet = {"Two","3", True, 0, 0} # Strings and characters are truesy
yourSet = {"4", "5", False, 1, 1}

interSet = mySet.intersection(yourSet)
print(interSet)

{False, 1}

In [54]:
# Strings and characters are Truesy
if "Two":
    print("True")
else:
    print("False")

True

## Difference       
~ The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [59]:
mySet = {"1","2","3", "8"}
yourSet = {"1", "4", "5"}
myList = ["2", "3", "6"]

diffSet1 = mySet.difference(yourSet)
diffSet2 = mySet.difference(yourSet, myList)
print(diffSet1)   
print(diffSet2)

{'3', '2', '8'}
{'8'}

~ Use - to join two sets:

~ Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

In [60]:
mySet = {"1","2","3", "8"}
yourSet = {"1", "4", "5"}

diffSet = mySet - yourSet
print(diffSet)

{'3', '2', '8'}

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [65]:
# Use the difference_update() method to keep the items that are not present in both sets:

mySet = {"1","2","3", "8"}
yourSet = {"1", "4", "5"}

mySet.difference_update(yourSet)
print(mySet)

{'3', '2', '8'}

In [66]:
# Use a list instead

mySet = {"1","2","3", "8"}
myList = ["1", "4", "5"]

mySet.difference_update(myList)
print(mySet)

{'3', '2', '8'}

## Symmetric Differences
~ The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [67]:
mySet = {"1","2","3", "8"}
yourSet = {"1", "4", "5"}

symDiffSet = mySet.symmetric_difference(yourSet)
print(symDiffSet)

{'2', '4', '8', '5', '3'}

In [68]:
# Use a list instead

mySet = {"1","2","3", "8"}
myList = ["1", "4", "5"]

symDiffSet = mySet.symmetric_difference(myList)
print(symDiffSet)

{'2', '4', '8', '5', '3'}

~ You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

~ Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

In [69]:
mySet = {"1","2","3", "8"}
yourSet = {"1", "4", "5"}

symDiffSet = mySet ^ yourSet
print(symDiffSet)

{'2', '4', '8', '5', '3'}

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [70]:
# Use the symmetric_difference_update() method to keep the items that are not present in both sets:

mySet = {"1","2","3", "8"}
yourSet = {"1", "4", "5"}

mySet.symmetric_difference_update(yourSet)
print(mySet)

{'2', '4', '8', '5', '3'}

In [71]:
# Use a list instead

mySet = {"1","2","3", "8"}
myList = ["1", "4", "5"]

mySet.symmetric_difference_update(myList)
print(mySet)

{'2', '4', '8', '5', '3'}

## Set Methods

Python has a set of built-in methods that you can use on sets.

| Method                       | Shortcut | Description                                                                |
|------------------------------|----------|----------------------------------------------------------------------------|
| add()                        |          | Adds an element to the set                                                 |
| clear()                      |          | Removes all the elements from the set                                      |
| copy()                       |          | Returns a copy of the set                                                  |
| difference()                 | -        | Returns a set containing the difference between two or more sets           |
| difference_update()          | -=       | Removes the items in this set that are also included in another, specified set |
| discard()                    |          | Remove the specified item                                                  |
| intersection()               | &        | Returns a set, that is the intersection of two other sets                  |
| intersection_update()        | &=       | Removes the items in this set that are not present in other, specified set(s) |
| isdisjoint()                 |          | Returns whether two sets have an intersection or not                       |
| issubset()                   | <=       | Returns whether another set contains this set or not                       |
|                                <        | Returns whether all items in this set are present in other, specified set(s) |
| issuperset()                 | >=       | Returns whether this set contains another set or not                       |
|                                >        | Returns whether all items in other, specified set(s) are present in this set |
| pop()                        |          | Removes an element from the set                                            |
| remove()                     |          | Removes the specified element                                              |
| symmetric_difference()       | ^        | Returns a set with the symmetric differences of two sets                   |
| symmetric_difference_update()| ^=       | Inserts the symmetric differences from this set and another                |
| union()                      | |        | Return a set containing the union of sets                                  |
| update()                     | |=       | Update the set with the union of this set and others                       |