[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1Bf200avbNSsFw4lSbxdgswDStwrkP21p?usp=sharing)

In [ ]:
import numpy as np

In [ ]:
x = np.array([3,4])

In [ ]:
import math 

def vector_norm(vector):
    squares = [elements**2 for elements in vector]
    return math.sqrt(sum(squares))

In [ ]:
vector_norm(x)

In [ ]:
from numpy import linalg 
linalg.norm(x)

### NumPy linear algebra functions
https://numpy.org/doc/stable/reference/routines.linalg.html

In [ ]:
y = np.array([2,3])

In [ ]:
np.dot(x,y)

In [ ]:
np.dot(x,y) == np.dot(y,x)

In [ ]:
A = np.array([[1,2,3],[4,5,6]])
print(A)

In [ ]:
x = np.array([2,4,5]).reshape(-1,1)
print(x)

In [ ]:
z = np.matmul(A,x)
print(z)

In [ ]:
A.shape, x.shape, z.shape

In [ ]:
D = np.array([
            [2, 3, 5, 7],
            [11, 13, 17, 19],
            [23, 29, 31, 37]
])

A = np.array([[3], [4], [5]])

In [ ]:
try:
    np.matmul(D, A)
except ValueError as e:
    print("ValueError", e)

In [ ]:
F = np.array([[5,2],
              [4,1],
              [9,3]])
print(F)

In [ ]:
A = np.array([
        [10, 20, 30],
        [40, 50, 60]
])
print(A)

In [ ]:
A.dot(F)

In [ ]:
F.dot(A)

In [ ]:
A

In [ ]:
A.T

In [ ]:
E = np.array([[1,1.5], [0,1]])
print(E)

In [ ]:
E_inv = linalg.inv(E)
print(E_inv)

In [ ]:
np.matmul(E, E_inv)

In [ ]:
np.matmul(E, E_inv)  == np.eye(2)

In [ ]:
np.eye(2)

How to extract all numbers between a given range from a numpy array?

In [ ]:
# Get all numbers between 8 and 12
a = np.array([2, 6, 1, 9, 10, 3, 27])

In [ ]:
index = np.where(np.logical_and(a >= 8, a <=12))
print(index)

In [ ]:
a[index]

In [ ]:
c = np.array([1,2,3])

In [ ]:
mu, med, sd = np.mean(c), np.median(c), np.std(c)
print(mu, med, sd)

In [ ]:
math.sqrt(sum([(item - mu)**2 for item in c])/3)

In [ ]:
d = (c - mu)/sd
print(d)

In [ ]:
print(np.mean(d), np.std(d))