# WELCOME TO THE NOTEBOOK
---

Importing Modules

In [129]:
import pandas as pd

Loading the data

In [130]:
data= pd.read_json('movies_dataset.json')
data.head()

,color,director_name,num_critic_for_reviews,duration,gross,genres,star_name,movie_title,movie_imdb_link,language,country,budget,title_year,imdb_score
0,Color,James Cameron,723.0,178.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,237000000.0,2009.0,7.9
1,Color,Gore Verbinski,302.0,169.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,300000000.0,2007.0,7.1
2,Color,Sam Mendes,602.0,148.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,245000000.0,2015.0,6.8
3,Color,Christopher Nolan,813.0,164.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,USA,250000000.0,2012.0,8.5
4,NaN,Doug Walker,NaN,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,7.1

Check the dataframe shape (#rows and #columns)

In [131]:
data.shape

(5043, 14)

Let's check the data types of the columns

In [132]:
data.dtypes

color                      object
director_name              object
num_critic_for_reviews    float64
duration                  float64
gross                     float64
genres                     object
star_name                  object
movie_title                object
movie_imdb_link            object
language                   object
country                    object
budget                    float64
title_year                float64
imdb_score                float64
dtype: object

Column Selection

In [133]:
# data.movie_title
data['movie_title']

0                                           Avatar
1         Pirates of the Caribbean: At World's End
2                                          Spectre
3                            The Dark Knight Rises
4       Star Wars: Episode VII - The Force Awakens
                           ...
5038                       Signed Sealed Delivered
5039                                 The Following
5040                          A Plague So Pleasant
5041                              Shanghai Calling
5042                             My Date with Drew
Name: movie_title, Length: 5043, dtype: object

---

## Data Preparation
Remove some columns:    
   
   - `movie_imdb_link`
   - `num_critic_for_reviews`
   - `genres`

In [134]:
data.drop(columns=['movie_imdb_link', 'num_critic_for_reviews', 'genres'], axis='columns', inplace=True)
data

,color,director_name,duration,gross,star_name,movie_title,language,country,budget,title_year,imdb_score
0,Color,James Cameron,178.0,760505847.0,CCH Pounder,Avatar,English,USA,237000000.0,2009.0,7.9
1,Color,Gore Verbinski,169.0,309404152.0,Johnny Depp,Pirates of the Caribbean: At World's End,English,USA,300000000.0,2007.0,7.1
2,Color,Sam Mendes,148.0,200074175.0,Christoph Waltz,Spectre,English,UK,245000000.0,2015.0,6.8
3,Color,Christopher Nolan,164.0,448130642.0,Tom Hardy,The Dark Knight Rises,English,USA,250000000.0,2012.0,8.5
4,NaN,Doug Walker,NaN,NaN,Doug Walker,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,7.1
...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,87.0,NaN,Eric Mabius,Signed Sealed Delivered,English,Canada,NaN,2013.0,7.7
5039,Color,NaN,43.0,NaN,Natalie Zea,The Following,English,USA,NaN,NaN,7.5
5040,Color,Benjamin Roberds,76.0,NaN,Eva Boehnke,A Plague So Pleasant,English,USA,1400.0,2013.0,6.3
5041,Color,Daniel Hsia,100.0,10443.0,Alan Ruck,Shanghai Calling,English,USA,NaN,2012.0,6.3
5042,Color,Jon Gunn,90.0,85222.0,John August,My Date with Drew,English,USA,1100.0,2004.0,6.6

Exercise: Remove the rest of the columns

Let's check the shape again

In [135]:
data.shape

(5043, 11)

Let's convert the dtype of `title_year` column to integer

In [137]:
data.dropna(subset=['title_year'], inplace=True)
data['title_year'] = data['title_year'].astype(int)
data.dtypes

color             object
director_name     object
duration         float64
gross            float64
star_name         object
movie_title       object
language          object
country           object
budget           float64
title_year         int64
imdb_score       float64
dtype: object

Let's check the dataframe again

In [ ]:
data.head(3)

,color,director_name,duration,gross,star_name,movie_title,language,country,budget,title_year,imdb_score
0,Color,James Cameron,178.0,760505847.0,CCH Pounder,Avatar,English,USA,237000000.0,2009,7.9
1,Color,Gore Verbinski,169.0,309404152.0,Johnny Depp,Pirates of the Caribbean: At World's End,English,USA,300000000.0,2007,7.1
2,Color,Sam Mendes,148.0,200074175.0,Christoph Waltz,Spectre,English,UK,245000000.0,2015,6.8

Renaming some columns: 
- changing `gross` to `movie_income`

In [ ]:
rename_dictionary = {'gross':'movie_income'}
data.rename(columns=rename_dictionary, inplace=True)
data.head(3)

,color,director_name,duration,movie_income,star_name,movie_title,Language,country,budget,title_year,imdb_score
0,Color,James Cameron,178.0,760505847.0,CCH Pounder,Avatar,English,USA,237000000.0,2009,7.9
1,Color,Gore Verbinski,169.0,309404152.0,Johnny Depp,Pirates of the Caribbean: At World's End,English,USA,300000000.0,2007,7.1
2,Color,Sam Mendes,148.0,200074175.0,Christoph Waltz,Spectre,English,UK,245000000.0,2015,6.8

Exercise: Rename the `budget` column to `movie_budget`

In [ ]:
ren_dict = {'budget':'movie_budget'}
data.rename(columns=ren_dict, inplace=True)
data.head(3)

,color,director_name,duration,movie_income,star_name,movie_title,Language,country,movie_budget,title_year,imdb_score
0,Color,James Cameron,178.0,760505847.0,CCH Pounder,Avatar,English,USA,237000000.0,2009,7.9
1,Color,Gore Verbinski,169.0,309404152.0,Johnny Depp,Pirates of the Caribbean: At World's End,English,USA,300000000.0,2007,7.1
2,Color,Sam Mendes,148.0,200074175.0,Christoph Waltz,Spectre,English,UK,245000000.0,2015,6.8

---
### Data Analysis 


Let's checkout the distribution of `duration` column using a histogram.

Exercise: Create a hitogram to see the distribution of `imdb_score` column

Let's check how many movies have the `imdb_score` less than `4`.

Exercise: Use a histogram to visualize the distribution of movie IMdb score in that are produced in `USA`.

---
### Let's answer to some analytical questions 
    
Question 1 - In which year we have the `highest` and `lowest` number of movies?

Now finding out number of movies per year

Let's create a line chart to show the result

Question 2 - In which year we have `minimum` and `maximum` average `imdb_score` ?

Finding average imdb score per year

Let's Use a barchart to visualize the result

Exercise: 
Question 3 - In which year we have the `minimum` and `maximum` spent movie budget?

`hint: use a line chart to visualize your results.`

Question 4 - Is there any relationship between IMdb score of a movie and the movie income?

To approaches to solve this question:
- Visual Correlation Analysis 
- Generating the Correlation Matirx

Let's drop the rows with `non` values

Let's create a scatter plot to see the data

Let's generate the correlation matrix