## Python: Pandas, Dataframes

In [35]:
import pandas as pd
file_path='./data/insurance.csv'
df = pd.read_csv(file_path)
print(f'df.head():\n{df.head()}')

df.head():
   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [36]:
print(f'\ndf.shape:\n{df.shape}')

df.shape:
(1338, 7)

In [37]:
print(f'\ndf.columns:\n{df.columns}')

df.columns:
Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [38]:
print(f'\ndf.describe():\n{df.describe()}')

df.describe():
               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [39]:
print(f'\ndf.info():\n{df.info()}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

df.info():
None

In [40]:
print(f'\ndf.isnull():\n{df.isnull()}')
print(f'\ndf.isnull().sum():\n{df.isnull().sum()}')

df.isnull():
        age    sex    bmi  children  smoker  region  charges
0     False  False  False     False   False   False    False
1     False  False  False     False   False   False    False
2     False  False  False     False   False   False    False
3     False  False  False     False   False   False    False
4     False  False  False     False   False   False    False
...     ...    ...    ...       ...     ...     ...      ...
1333  False  False  False     False   False   False    False
1334  False  False  False     False   False   False    False
1335  False  False  False     False   False   False    False
1336  False  False  False     False   False   False    False
1337  False  False  False     False   False   False    False

[1338 rows x 7 columns]

df.isnull().sum():
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [41]:
print(f'\ndf.isna():\n{df.isna()}')
print(f'\ndf.isna().sum():\n{df.isna().sum()}')

df.isna():
        age    sex    bmi  children  smoker  region  charges
0     False  False  False     False   False   False    False
1     False  False  False     False   False   False    False
2     False  False  False     False   False   False    False
3     False  False  False     False   False   False    False
4     False  False  False     False   False   False    False
...     ...    ...    ...       ...     ...     ...      ...
1333  False  False  False     False   False   False    False
1334  False  False  False     False   False   False    False
1335  False  False  False     False   False   False    False
1336  False  False  False     False   False   False    False
1337  False  False  False     False   False   False    False

[1338 rows x 7 columns]

df.isna().sum():
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

* In pandas, both df.isna() and df.isnull() are methods that are used to check for missing or NaN (Not a Number) values in a DataFrame.

* df.isna() and df.isnull() are essentially the same and are interchangeable. 
* They both return a DataFrame of the same shape as the original, where each element is either True or False, indicating whether that particular element is missing (NaN) or not.

In [42]:
print(f'\ndf.age:\n{df.age}')
print(f"\ndf['age']:\n{df['age']}")

df.age:
0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

df['age']:
0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [43]:
print(f'df.head(3):\n{df.head(3)}')
print(f'\ndf.iloc[0]:\n{df.iloc[0]}')
print(f'\ndf.iloc[2]:\n{df.iloc[2]}')

df.head(3):
   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

df.iloc[0]:
age                19
sex            female
bmi              27.9
children            0
smoker            yes
region      southwest
charges     16884.924
Name: 0, dtype: object

df.iloc[2]:
age                28
sex              male
bmi              33.0
children            3
smoker             no
region      southeast
charges      4449.462
Name: 2, dtype: object

In [66]:
# Define the heartRates dictionary
heartRates = {
    'id': ['p1', 'p2', 'p3', 'p4', 'p5'],
    'heartRate1': [81, 72, 63, 74, 65],
    'heartRate2': [71, 82, 68, 72, 85],
    'heartRate3': [61, 75, 83, 79, 68],
}

# Create a DataFrame from heartRates
hr_df = pd.DataFrame(heartRates)

# Display the first few rows of the DataFrame
print(hr_df.head())

   id  heartRate1  heartRate2  heartRate3
0  p1          81          71          61
1  p2          72          82          75
2  p3          63          68          83
3  p4          74          72          79
4  p5          65          85          68

In [67]:
# Access and print the 'heartRate1' column
print(f"\nhr_df['heartRate1']:\n{hr_df['heartRate1']}")

# Access and print the first row using iloc
print(f"\nhr_df'iloc[0]:\n{hr_df.iloc[0]}")

# Access and print the fourth row using iloc
print(f"\nhr_df'iloc[3]:\n{hr_df.iloc[3]}")

hr_df['heartRate1']:
0    81
1    72
2    63
3    74
4    65
Name: heartRate1, dtype: int64

hr_df'iloc[0]:
id            p1
heartRate1    81
heartRate2    71
heartRate3    61
Name: 0, dtype: object

hr_df'iloc[3]:
id            p4
heartRate1    74
heartRate2    72
heartRate3    79
Name: 3, dtype: object

In [68]:
# Change the value of 'heartRate1' for the first row ('p1')
hr_df['heartRate1'][0] = 65

# Print the updated first row
print(f"\nhr_df:\n{hr_df}")

hr_df:
   id  heartRate1  heartRate2  heartRate3
0  p1          65          71          61
1  p2          72          82          75
2  p3          63          68          83
3  p4          74          72          79
4  p5          65          85          68

C:\Users\Sean\AppData\Local\Temp\ipykernel_16112\1789816851.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  hr_df['heartRate1'][0] = 65
C:\Users\Sean\AppData\Local\Temp\ipykernel_16112\1789816851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hr_df['heartRate1'][0] = 65

In [69]:
# Access and print the value of 'heartRate3' for the fourth row ('p4')
print(f"\nhr_df['heartRate3'][3]: {hr_df['heartRate3'][3]}")

hr_df['heartRate3'][3]: 79

In [70]:
# Get the column names as a list
columns = list(hr_df)
print(columns)

# Get the values of the first row as a list
row1 = list(hr_df.iloc[0])
print(row1)

# Convert any np.int64 values in row1 to Python int
row1 = [int(item) if isinstance(item, np.int64) else item for item in row1]
print(row1)

['id', 'heartRate1', 'heartRate2', 'heartRate3']
['p1', np.int64(65), np.int64(71), np.int64(61)]
['p1', 65, 71, 61]

* A list comprehension ([int(item) if isinstance(item, np.int64) else item for item in row1]) iterates through each item in row1. 
* If the item is of type np.int64, it converts it to a Python int. 
* This ensures that numeric values are represented as native Python integers rather than NumPy integers.

In [71]:
# Iterate through each column and print the value of the first row
for i in columns:
    print(hr_df[i][0])

p1
65
71
61

In [72]:
# Get the values of 'heartRate1' column as a list
c = list(hr_df['heartRate1'])
c

[65, 72, 63, 74, 65]

In [73]:
# Print each item in the 'heartRate1' column
for item in c:
    print(item)

65
72
63
74
65

## Python: Write to CSV, Pandas

In [75]:
hr_df.to_csv('./data/heart-rate.csv')

## Python: Declaring and calling functions

In [78]:
numbers = [1,2,3,4,5]

def SumList(list):
    sum = 0
    for num in list:
        sum += num
    return sum

total = SumList(numbers)
print(total)

15

In [79]:
def search(list, query):
    matching_items=[]
    for item in list:
        if query in item:
            matching_items.append(item)
    return matching_items

words = ['Hi There', 'Winner takes all', 'Sean is awesome']
results = search(words, 'awesome')
print(results)

['Sean is awesome']

## Python: Functions without parameter

In [91]:
from datetime import datetime

def check_time():
    now = datetime.now()
    day = now.day
    month = now.month
    year = now.year
    print(f"Today's date is -- {day}/{month}/{year}")
    print(f"Time now is -- {now.hour}:{now.minute}:{now.second}")

check_time()

Today's date is -- 9/7/2024
Time now is -- 14:54:12

## Python: Calling functions from a separate .py file

In [2]:
import sys
sys.path.append('./functions')
from myFunctions import time_check, calculate_average

time_check()
numbers = [1,2,3,4,5]

average = calculate_average(numbers)
print(f'Average of {numbers} is:: {average}')

Today's date  is 9/7/2024
Time now is 15:28:1
Average of [1, 2, 3, 4, 5] is:: 3.0

## Python: Converting to and from JSON

In [5]:
import pandas as pd
import json

file_path='./data/insurance.csv'
df = pd.read_csv(file_path)
df = df.head(3)
df

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [20]:
# Convert dataframe to json string
json_string = df.to_json() # default orientation = colimns
print(f'df.to_json results in data type: {type(json_string)}')

# convert json string to json dictionary
json_dict = json.loads(json_string)
print(f'json.loads results in data type: {type(json_dict)}')

print()
print('json string:')
print(json_string)
print('json dictionary:')
print(f'Columns Orientation: {json_dict}')

df.to_json results in data type: <class 'str'>
json.loads results in data type: <class 'dict'>

json string:
{"age":{"0":19,"1":18,"2":28},"sex":{"0":"female","1":"male","2":"male"},"bmi":{"0":27.9,"1":33.77,"2":33.0},"children":{"0":0,"1":1,"2":3},"smoker":{"0":"yes","1":"no","2":"no"},"region":{"0":"southwest","1":"southeast","2":"southeast"},"charges":{"0":16884.924,"1":1725.5523,"2":4449.462}}
json dictionary:
Columns Orientation: {'age': {'0': 19, '1': 18, '2': 28}, 'sex': {'0': 'female', '1': 'male', '2': 'male'}, 'bmi': {'0': 27.9, '1': 33.77, '2': 33.0}, 'children': {'0': 0, '1': 1, '2': 3}, 'smoker': {'0': 'yes', '1': 'no', '2': 'no'}, 'region': {'0': 'southwest', '1': 'southeast', '2': 'southeast'}, 'charges': {'0': 16884.924, '1': 1725.5523, '2': 4449.462}}

In [15]:
json_dict['age']

{'0': 19, '1': 18, '2': 28}

In [17]:
json_dict['age']['0']

19

In [21]:
df_columns = pd.DataFrame(json_dict)
df_columns

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [23]:
# Split Orientation
json_string = df.to_json(orient='split')
json_dict = json.loads(json_string)
print(f'Split Orientation: {json_dict}')

Split Orientation: {'columns': ['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], 'index': [0, 1, 2], 'data': [[19, 'female', 27.9, 0, 'yes', 'southwest', 16884.924], [18, 'male', 33.77, 1, 'no', 'southeast', 1725.5523], [28, 'male', 33.0, 3, 'no', 'southeast', 4449.462]]}

In [24]:
json_dict['columns']

['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

In [25]:
json_dict['columns'][6]

'charges'

In [26]:
json_dict['data']

[[19, 'female', 27.9, 0, 'yes', 'southwest', 16884.924],
 [18, 'male', 33.77, 1, 'no', 'southeast', 1725.5523],
 [28, 'male', 33.0, 3, 'no', 'southeast', 4449.462]]

In [27]:
json_dict['data'][1][2]

33.77

In [28]:
# Records Orientation
json_string = df.to_json(orient='records')
json_dict = json.loads(json_string)
print(f'Records Orientation: {json_dict}')

Records Orientation: [{'age': 19, 'sex': 'female', 'bmi': 27.9, 'children': 0, 'smoker': 'yes', 'region': 'southwest', 'charges': 16884.924}, {'age': 18, 'sex': 'male', 'bmi': 33.77, 'children': 1, 'smoker': 'no', 'region': 'southeast', 'charges': 1725.5523}, {'age': 28, 'sex': 'male', 'bmi': 33.0, 'children': 3, 'smoker': 'no', 'region': 'southeast', 'charges': 4449.462}]

In [31]:
json_dict[1]

{'age': 18,
 'sex': 'male',
 'bmi': 33.77,
 'children': 1,
 'smoker': 'no',
 'region': 'southeast',
 'charges': 1725.5523}

In [33]:
json_dict[1]['charges']

1725.5523

In [37]:
# Index Orientation
json_string = df.to_json(orient='index')
json_dict = json.loads(json_string)
print(f'Index Orientation: {json_dict}')

Index Orientation: {'0': {'age': 19, 'sex': 'female', 'bmi': 27.9, 'children': 0, 'smoker': 'yes', 'region': 'southwest', 'charges': 16884.924}, '1': {'age': 18, 'sex': 'male', 'bmi': 33.77, 'children': 1, 'smoker': 'no', 'region': 'southeast', 'charges': 1725.5523}, '2': {'age': 28, 'sex': 'male', 'bmi': 33.0, 'children': 3, 'smoker': 'no', 'region': 'southeast', 'charges': 4449.462}}

In [38]:
json_dict['0']

{'age': 19,
 'sex': 'female',
 'bmi': 27.9,
 'children': 0,
 'smoker': 'yes',
 'region': 'southwest',
 'charges': 16884.924}

In [39]:
json_dict['0']['bmi']

27.9

In [40]:
# Values Orientation
json_string = df.to_json(orient='values')
json_dict = json.loads(json_string)
print(f'Values Orientation: {json_dict}')

Values Orientation: [[19, 'female', 27.9, 0, 'yes', 'southwest', 16884.924], [18, 'male', 33.77, 1, 'no', 'southeast', 1725.5523], [28, 'male', 33.0, 3, 'no', 'southeast', 4449.462]]

In [41]:
json_dict[0]

[19, 'female', 27.9, 0, 'yes', 'southwest', 16884.924]

In [42]:
json_dict[0][1]

'female'

In [43]:
# Table Orientation
json_string = df.to_json(orient='table')
json_dict = json.loads(json_string)
print(f'Table Orientation: {json_dict}')

Table Orientation: {'schema': {'fields': [{'name': 'index', 'type': 'integer'}, {'name': 'age', 'type': 'integer'}, {'name': 'sex', 'type': 'string'}, {'name': 'bmi', 'type': 'number'}, {'name': 'children', 'type': 'integer'}, {'name': 'smoker', 'type': 'string'}, {'name': 'region', 'type': 'string'}, {'name': 'charges', 'type': 'number'}], 'primaryKey': ['index'], 'pandas_version': '1.4.0'}, 'data': [{'index': 0, 'age': 19, 'sex': 'female', 'bmi': 27.9, 'children': 0, 'smoker': 'yes', 'region': 'southwest', 'charges': 16884.924}, {'index': 1, 'age': 18, 'sex': 'male', 'bmi': 33.77, 'children': 1, 'smoker': 'no', 'region': 'southeast', 'charges': 1725.5523}, {'index': 2, 'age': 28, 'sex': 'male', 'bmi': 33.0, 'children': 3, 'smoker': 'no', 'region': 'southeast', 'charges': 4449.462}]}

In [44]:
json_dict['schema']

{'fields': [{'name': 'index', 'type': 'integer'},
  {'name': 'age', 'type': 'integer'},
  {'name': 'sex', 'type': 'string'},
  {'name': 'bmi', 'type': 'number'},
  {'name': 'children', 'type': 'integer'},
  {'name': 'smoker', 'type': 'string'},
  {'name': 'region', 'type': 'string'},
  {'name': 'charges', 'type': 'number'}],
 'primaryKey': ['index'],
 'pandas_version': '1.4.0'}

In [45]:
json_dict['schema']['fields']

[{'name': 'index', 'type': 'integer'},
 {'name': 'age', 'type': 'integer'},
 {'name': 'sex', 'type': 'string'},
 {'name': 'bmi', 'type': 'number'},
 {'name': 'children', 'type': 'integer'},
 {'name': 'smoker', 'type': 'string'},
 {'name': 'region', 'type': 'string'},
 {'name': 'charges', 'type': 'number'}]

In [48]:
json_dict['schema']['fields'][1]

{'name': 'age', 'type': 'integer'}

In [50]:
json_dict['schema']['fields'][1]['name']

'age'

In [51]:
json_dict['data']

[{'index': 0,
  'age': 19,
  'sex': 'female',
  'bmi': 27.9,
  'children': 0,
  'smoker': 'yes',
  'region': 'southwest',
  'charges': 16884.924},
 {'index': 1,
  'age': 18,
  'sex': 'male',
  'bmi': 33.77,
  'children': 1,
  'smoker': 'no',
  'region': 'southeast',
  'charges': 1725.5523},
 {'index': 2,
  'age': 28,
  'sex': 'male',
  'bmi': 33.0,
  'children': 3,
  'smoker': 'no',
  'region': 'southeast',
  'charges': 4449.462}]

In [52]:
json_dict['data'][0]

{'index': 0,
 'age': 19,
 'sex': 'female',
 'bmi': 27.9,
 'children': 0,
 'smoker': 'yes',
 'region': 'southwest',
 'charges': 16884.924}

In [53]:
json_dict['data'][0]['bmi']

27.9

## Python: write to sqlite database from pandas dataframe

In [1]:
import sqlite3
import pandas as pd

file_path = './data/insurance.csv'
df = pd.read_csv(file_path)
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [2]:
path_to_db = './data/insurance.db'
conn = sqlite3.connect(path_to_db)

In [3]:
create_sql =    'CREATE TABLE IF NOT EXISTS customers(age INTEGER, sex TEXT, bmi REAL, \
                children INTEGER, smoker TEXT, region TEXT, charges REAL )'
cursor = conn.cursor()
cursor.execute(create_sql)

In [4]:
# Row by Row Method
for row in df.itertuples():
    insert_sql = f"INSERT INTO customers (age, sex, bmi, children, smoker, region, charges) \
        VALUES ({row[1]}, '{row[2]}', {row[3]}, {row[4]}, '{row[5]}', '{row[6]}', {row[7]})"
    cursor.execute(insert_sql)

In [5]:
conn.commit()

In [6]:
path2_to_db = './data/insurance2.db'
conn2 = sqlite3.connect(path2_to_db)

# Dataframe all at once method
df.to_sql(name='customers', con=conn2, if_exists='replace', index=False)
conn2.commit()