## Casting

In [1]:
num1 = 1
num2 = 2.4
str1 = '2'
str2 = '1.2'

print('Casting in Python')
print(f'\nint     {num1}  casted as float is   {float(num1)}')
print(f'float   {num2}  casted as int is     {int(num2)}')
print(f'\nstr     {str1}  casted as int is     {int(str1)}')
print(f'str     {str2}  casted as float is   {float(str2)}')

Casting in Python

int     1  casted as float is   1.0
float   2.4  casted as int is     2

str     2  casted as int is     2
str     1.2  casted as float is   1.2

## input(), type()

In [2]:
# Doesn't work in juoyter notebook.. 
# Jupyter does not have a terminal for data input

# response = input('Type Something')
# print(f'You typed: {response}')

In [3]:
integer = 1
string = 'name'
floating_point = 1.22
boolean = True
print(type(integer), type(string), type(floating_point), type(boolean))

<class 'int'> <class 'str'> <class 'float'> <class 'bool'>

## IPO

In [4]:
# 1. Input
age1 = 12
age2 = 22
age3 = 32
# 2. Process
avg_age = age1 + age2 + age3
# 3. Output
print(f'Average Age is:: {avg_age}')

Average Age is:: 66

## if..elif..else

In [5]:
x = 0

if x > 0:
    print(f'"{x}" is a positive number')
elif x < 0:
    print(f'"{x}" is a negative number')
else:
    print(f'"{x}" is zero')

"0" is zero

# and, or not operators

In [6]:
# and operator
print(6>5 and 3>2)
print(6>5 and 3<2)

True
False

In [7]:
# or operator
print(6>5 or 3<2)
print(6<5 or 3<2)

True
False

In [8]:
# not operator
print (not(6>5))
print (not(6>5) or 3<2)
print (not(6>5) or 3>2)

False
False
True

## Python: Nested If, Flow Control, Decision Making

In [9]:
# check if number is both odd and divisible by 3
x = 25  # Try 25, 26, 27, 28, 29
if x % 2 == 1:
    if x % 3 == 0:
        print (f'{x} is odd and is divisible by 3')
    else:
        print (f'{x} is odd but NOT divisible by 3')
else:
    if x % 3 == 0:
        print (f'{x} is NOT odd but is divisible by 3')
    else:
        print (f'{x} is NEITHER odd NOR divisible by 3')

25 is odd but NOT divisible by 3

## Python: Collections (Data Structures): Lists

In [10]:
names =['Sean', 'Mary', 'Magdalene', 'James', 'Nancy']
age = [4,12,4,45,55]
height = [3.23, 6.98, 5.43, 7.55, 6.12]
tallEnoughToRide = [False, True, False, True, False]

print(f'name list:: {names} \n')
names[1] = "Bruce"
print(f'modified name list:: {names} \n')


count = 0
records=[]
while count < len(names):
    record =[]
    record.append(names[count])
    record.append(age[count])
    record.append(height[count])
    record.append(tallEnoughToRide[count])
    print(f'record{count+1}:: {record}')
    count += 1

    records.append(record)
print (f'\n List of lists(records)::  {records}')

name list:: ['Sean', 'Mary', 'Magdalene', 'James', 'Nancy']

modified name list:: ['Sean', 'Bruce', 'Magdalene', 'James', 'Nancy']

record1:: ['Sean', 4, 3.23, False]
record2:: ['Bruce', 12, 6.98, True]
record3:: ['Magdalene', 4, 5.43, False]
record4:: ['James', 45, 7.55, True]
record5:: ['Nancy', 55, 6.12, False]

 List of lists(records)::  [['Sean', 4, 3.23, False], ['Bruce', 12, 6.98, True], ['Magdalene', 4, 5.43, False], ['James', 45, 7.55, True], ['Nancy', 55, 6.12, False]]

In [11]:
print(len(records))
print(max(age))
print(min(height))
print(age.count(4))
print(names.index('James'))
names.sort() # must be executed before printing, does not return a value
print(names)
names.reverse() # must be executed before printing, does not return a value
print(names)

5
55
3.23
2
3
['Bruce', 'James', 'Magdalene', 'Nancy', 'Sean']
['Sean', 'Nancy', 'Magdalene', 'James', 'Bruce']

In [12]:
# print Bruce's height from list of lists:
records[1][2]

6.98

In [13]:
names = ['Sean', 'Mary', 'Magdalene', 'James', 'Nancy']

# Printing the entire list
print(names)

# Slicing to get elements from index 0 to 1 (exclusive of index 2)
print(names[0:2])  # Output: ['Sean', 'Mary']

# Using shorthand for slicing
print(names[:2])   # Output: ['Sean', 'Mary']

# Accessing elements from the end using negative indices
print(names[-3])   # Output: 'Magdalene'

# Slicing to get elements from index -3 (inclusive) to the end
print(names[-3:])  # Output: ['Magdalene', 'James', 'Nancy']

# Slicing to get elements from index -3 (inclusive) to -1 (exclusive)
print(names[-3:-1])  # Output: ['Magdalene', 'James']


member1, member2 = names[-3:-1]
print(member1)
print(member2)

name1, name2, name3, name4, name5 = names
print(name3) # try accessing all 5 variables

names.append("New Guy")
print(names)

names.remove('New Guy')
print(names)

popped = names.pop()
print(popped)
print(names)

popped1 = names.pop(1)
print(popped1)
print(names)

['Sean', 'Mary', 'Magdalene', 'James', 'Nancy']
['Sean', 'Mary']
['Sean', 'Mary']
Magdalene
['Magdalene', 'James', 'Nancy']
['Magdalene', 'James']
Magdalene
James
Magdalene
['Sean', 'Mary', 'Magdalene', 'James', 'Nancy', 'New Guy']
['Sean', 'Mary', 'Magdalene', 'James', 'Nancy']
Nancy
['Sean', 'Mary', 'Magdalene', 'James']
Mary
['Sean', 'Magdalene', 'James']

In [14]:
names = ['Sean', 'Mary', 'Magdalene', 'James', 'Nancy']
names.clear()
print(names)

[]

## Python: Collections: Dictionaries

In [15]:
# Defining dictionaries
names = {1:'Sean', 2:'Mary', 3:'Magdalene', 4:'James', 5:'Nancy'}    # integer key
age = {'p1':4, 'p2':12, 'p3':4, 'p4':45, 'p5':55}                     # text key
height = {'p1':3.23, 'p2':6.98, 'p3':5.43, 'p4':7.55, 'p5':6.12}
tallEnoughToRide = {'p1':False, 'p2':True, 'p3':False, 'p4':True, 'p5':False}
data = {
    'p1': ['Sean', 4, 3.23, False],
    'p2': ['Bruce', 12, 6.98, True],
    'p3': ['Magdalene', 4, 5.43, False],
    'p4': ['James', 45, 7.55, True],
    'p5': ['Nancy', 55, 6.12, False]
}

print('\n Print entire dictionary:')
print(names)         # Output: {1: 'Sean', 2: 'Mary', 3: 'Magdalene', 4: 'James', 5: 'Nancy'}
print(age)           # Output: {'p1': 4, 'p2': 12, 'p3': 4, 'p4': 45, 'p5': 55}
print(data)          # Output: {'p1': ['Sean', 4, 3.23, False], 'p2': ['Bruce', 12, 6.98, True], 'p3': ['Magdalene', 4, 5.43, False], 'p4': ['James', 45, 7.55, True], 'p5': ['Nancy', 55, 6.12, False]}


print('\n Access individual elements:')
print(names[2])         # Output: 'Mary'
print(age['p4'])        # Output: 45
print(data['p1'])       # Output: ['Sean', 4, 3.23, False]
print(data['p1'][3])    # Output: False

print('\n Access using dictionary methods:')
print(f'names.keys():: {names.keys()}')
print(f'data.keys():: {data.keys()}')
print(f'\nnames.values():: {names.values()}')
print(f'data.values():: {data.values()}')
print(f'\nnames.items():: {names.items()}')
print(f'data.items():: {data.items()}')

 Print entire dictionary:
{1: 'Sean', 2: 'Mary', 3: 'Magdalene', 4: 'James', 5: 'Nancy'}
{'p1': 4, 'p2': 12, 'p3': 4, 'p4': 45, 'p5': 55}
{'p1': ['Sean', 4, 3.23, False], 'p2': ['Bruce', 12, 6.98, True], 'p3': ['Magdalene', 4, 5.43, False], 'p4': ['James', 45, 7.55, True], 'p5': ['Nancy', 55, 6.12, False]}

 Access individual elements:
Mary
45
['Sean', 4, 3.23, False]
False

 Access using dictionary methods:
names.keys():: dict_keys([1, 2, 3, 4, 5])
data.keys():: dict_keys(['p1', 'p2', 'p3', 'p4', 'p5'])

names.values():: dict_values(['Sean', 'Mary', 'Magdalene', 'James', 'Nancy'])
data.values():: dict_values([['Sean', 4, 3.23, False], ['Bruce', 12, 6.98, True], ['Magdalene', 4, 5.43, False], ['James', 45, 7.55, True], ['Nancy', 55, 6.12, False]])

names.items():: dict_items([(1, 'Sean'), (2, 'Mary'), (3, 'Magdalene'), (4, 'James'), (5, 'Nancy')])
data.items():: dict_items([('p1', ['Sean', 4, 3.23, False]), ('p2', ['Bruce', 12, 6.98, True]), ('p3', ['Magdalene', 4, 5.43, False]), ('p4', ['James', 45, 7.55, True]), ('p5', ['Nancy', 55, 6.12, False])])

In [16]:
# Defining dictionaries
names = {1:'Sean', 2:'Mary', 3:'Magdalene', 4:'James', 5:'Nancy'}    # integer key
age = {'p1':4, 'p2':12, 'p3':4, 'p4':45, 'p5':55}                     # text key
height = {'p1':3.23, 'p2':6.98, 'p3':5.43, 'p4':7.55, 'p5':6.12}
tallEnoughToRide = {'p1':False, 'p2':True, 'p3':False, 'p4':True, 'p5':False}
data = {
    'p1': ['Sean', 4, 3.23, False],
    'p2': ['Bruce', 12, 6.98, True],
    'p3': ['Magdalene', 4, 5.43, False],
    'p4': ['James', 45, 7.55, True],
    'p5': ['Nancy', 55, 6.12, False]
}

# Updating Dictionaries
print(f'Original Age:: {age['p2']}')
age['p2']=10
print(f'Updated Age -- Using Index :: {age['p2']}')
age.update(p2=14)
print(f'Updated Age -- Using function :: {age['p2']}')

# Timing Execution with %timeit
%timeit age['p3'] = 5
%timeit age.update(p3=5)

Original Age:: 12
Updated Age -- Using Index :: 10
Updated Age -- Using function :: 14

49.6 ns ± 2.83 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)
194 ns ± 46 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [17]:
# Defining dictionaries
names = {1:'Sean', 2:'Mary', 3:'Magdalene', 4:'James', 5:'Nancy'}    # integer key
age = {'p1':4, 'p2':12, 'p3':4, 'p4':45, 'p5':55}                     # text key
height = {'p1':3.23, 'p2':6.98, 'p3':5.43, 'p4':7.55, 'p5':6.12}
tallEnoughToRide = {'p1':False, 'p2':True, 'p3':False, 'p4':True, 'p5':False}
data = {
    'p1': ['Sean', 4, 3.23, False],
    'p2': ['Bruce', 12, 6.98, True],
    'p3': ['Magdalene', 4, 5.43, False],
    'p4': ['James', 45, 7.55, True],
    'p5': ['Nancy', 55, 6.12, False]
}

# Inserting Elements into age Dictionary
age['p7'] = 38
print(age)

# Updating age Dictionary with Multiple Key-Value Pairs
newAge = {'p6':9, 'p8':17, 'p9':4, 'p10':48, 'p11':25}                     # text key
age.update(newAge)
print(age)

# Using Dictionary Unpacking to Merge Dictionaries
coolAge = {**age, **{'p6':9, 'p8':17, 'p9':4, 'p10':48, 'p11':25}}
print(coolAge)

# Timing Performance with %timeit
%timeit age.update(newAge)
%timeit coolAge = {**age, **{'p6':9, 'p8':17, 'p9':4, 'p10':48, 'p11':25}}

{'p1': 4, 'p2': 12, 'p3': 4, 'p4': 45, 'p5': 55, 'p7': 38}
{'p1': 4, 'p2': 12, 'p3': 4, 'p4': 45, 'p5': 55, 'p7': 38, 'p6': 9, 'p8': 17, 'p9': 4, 'p10': 48, 'p11': 25}
{'p1': 4, 'p2': 12, 'p3': 4, 'p4': 45, 'p5': 55, 'p7': 38, 'p6': 9, 'p8': 17, 'p9': 4, 'p10': 48, 'p11': 25}
270 ns ± 42.7 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
552 ns ± 46.6 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [18]:
# Defining dictionaries
names = {1:'Sean', 2:'Mary', 3:'Magdalene', 4:'James', 5:'Nancy'}    # integer key
age = {'p1':4, 'p2':12, 'p3':4, 'p4':45, 'p5':55}                     # text key
height = {'p1':3.23, 'p2':6.98, 'p3':5.43, 'p4':7.55, 'p5':6.12}
tallEnoughToRide = {'p1':False, 'p2':True, 'p3':False, 'p4':True, 'p5':False}
data = {
    'p1': ['Sean', 4, 3.23, False],
    'p2': ['Bruce', 12, 6.98, True],
    'p3': ['Magdalene', 4, 5.43, False],
    'p4': ['James', 45, 7.55, True],
    'p5': ['Nancy', 55, 6.12, False]
}

print(f'Dict contains: {names}')
popped = names.pop(1)
print(f'"{popped}" is removed using pop(). \nDict now contains: {names}')
names.clear()
print(f'Dictionary is emptied using clera(). \nDict now contains: {names}')

Dict contains: {1: 'Sean', 2: 'Mary', 3: 'Magdalene', 4: 'James', 5: 'Nancy'}
"Sean" is removed using pop().
Dict now contains: {2: 'Mary', 3: 'Magdalene', 4: 'James', 5: 'Nancy'}
Dictionary is emptied using clera().
Dict now contains: {}

In [19]:
# Defining dictionaries
names = {1:'Sean', 2:'Mary', 3:'Magdalene', 4:'James', 5:'Nancy'}    # integer key
age = {'p1':4, 'p2':12, 'p3':4, 'p4':45, 'p5':55}                     # text key
height = {'p1':3.23, 'p2':6.98, 'p3':5.43, 'p4':7.55, 'p5':6.12}
tallEnoughToRide = {'p1':False, 'p2':True, 'p3':False, 'p4':True, 'p5':False}
data = {
    'p1': ['Sean', 4, 3.23, False],
    'p2': ['Bruce', 12, 6.98, True],
    'p3': ['Magdalene', 4, 5.43, False],
    'p4': ['James', 45, 7.55, True],
    'p5': ['Nancy', 55, 6.12, False]
}

# Operations on dictionaries
print(len(names))                # Output: 5
print(sorted(names.values()))    # Output: ['James', 'Magdalene', 'Mary', 'Nancy', 'Sean']
print(sorted(names.keys()))      # Output: [1, 2, 3, 4, 5]
print(sorted(names.items()))     # Output: [(1, 'Sean'), (2, 'Mary'), (3, 'Magdalene'), (4, 'James'), (5, 'Nancy')]
print(type(age))                 # Output: <class 'dict'>
print(type(age['p1']))           # Output: <class 'int'>

5
['James', 'Magdalene', 'Mary', 'Nancy', 'Sean']
[1, 2, 3, 4, 5]
[(1, 'Sean'), (2, 'Mary'), (3, 'Magdalene'), (4, 'James'), (5, 'Nancy')]
<class 'dict'>
<class 'int'>

## Python: Collections: Sets, set()

In [20]:
x_set=set('spoon')
y_set=set('soon')

print(x_set)
print(y_set)

print(x_set - y_set) # All elements in x_set but not in y_set
print(y_set - x_set) # All elements in y_set but not in x_set
print(x_set | y_set) # Unique objects x_set or  y_set or both
print(x_set & y_set) # Objects in both x_set or  y_set

{'p', 'o', 'n', 's'}
{'o', 'n', 's'}
{'p'}
set()
{'o', 's', 'p', 'n'}
{'s', 'o', 'n'}

In [21]:
age1 = [18,19,20,21,18,19]
age2 = [18,16,22,21,18,16]

age1_set = set(age1)
age2_set = set(age2)

print(age1_set)
print(age2_set)

print(age1_set - age2_set) # All elements in age1_set but not in age2_set
print(age2_set - age1_set) # All elements in age2_set but not in age1_set
print(age1_set | age2_set) # Unique objects age1_set or  age2_set or both
print(age1_set & age2_set) # Objects in both age1_set or  age2_set

{18, 19, 20, 21}
{16, 18, 21, 22}
{19, 20}
{16, 22}
{16, 18, 19, 20, 21, 22}
{18, 21}

In [22]:
height1 = {'p1':3.23, 'p2':6.98, 'p3':5.43, 'p4':7.55, 'p5':6.12}
height2 = {'p1':5.28, 'p2':6.98, 'p3':4.83, 'p4':6.35, 'p5':6.12}

height1_set = set(list(height1.values())) # Cast dictionary values into a list
height2_set = set(list(height2.values())) # Cast dictionary values into a list

print(height1_set)
print(height2_set)

print(height1_set - height2_set) # All elements in height1_set but not in height2_set
print(height2_set - height1_set) # All elements in height2_set but not in height1_set
print(height1_set | height2_set) # Unique objects height1_set or  height2_set or both
print(height1_set & height2_set) # Objects in both height1_set or  height2_set

{3.23, 5.43, 6.12, 6.98, 7.55}
{4.83, 5.28, 6.12, 6.98, 6.35}
{3.23, 5.43, 7.55}
{4.83, 5.28, 6.35}
{3.23, 4.83, 5.43, 6.12, 7.55, 6.98, 5.28, 6.35}
{6.12, 6.98}

In [23]:
height1 = {'p1':3.23, 'p2':6.98, 'p3':5.43, 'p4':7.55, 'p5':6.12}
height2 = {'p1':5.28, 'p2':6.98, 'p3':4.83, 'p4':6.35, 'p5':6.12}

height1_set = set(list(height1.keys())) # Cast dictionary keys into a list
height2_set = set(list(height2.keys())) # Cast dictionary keys into a list

print(height1_set)
print(height2_set)

print(height1_set - height2_set) # All elements in height1_set but not in height2_set
print(height2_set - height1_set) # All elements in height2_set but not in height1_set
print(height1_set | height2_set) # Unique objects height1_set or  height2_set or both
print(height1_set & height2_set) # Objects in both height1_set or  height2_set

{'p1', 'p2', 'p4', 'p3', 'p5'}
{'p1', 'p2', 'p4', 'p3', 'p5'}
set()
set()
{'p1', 'p2', 'p4', 'p3', 'p5'}
{'p1', 'p2', 'p4', 'p3', 'p5'}

## Python: For loop, While loop

In [24]:
bookList = ["Ender's List", "Life is Good", "Praise and Worship", 'Last Train', 'The Nightingale', 'Jurassic Park']

print('for loop:\n')
for book in bookList:
    print(book)

print('\nwhile loop:\n')
count = 1
while count < len(bookList):
    print(book)
    count += 1

for loop:

Ender's List
Life is Good
Praise and Worship
Last Train
The Nightingale
Jurassic Park

while loop:

Jurassic Park
Jurassic Park
Jurassic Park
Jurassic Park
Jurassic Park

In [25]:
print('Self Destruct In...')
count = 10
while count != 0:
    print(str(count) + "...")
    count -= 1
print('Explosion!!!')

Self Destruct In...
10...
9...
8...
7...
6...
5...
4...
3...
2...
1...
Explosion!!!

In [26]:
# loops for data cleaning
gender = ['Male', 'Female', 'm','female', 'f', 'M', 'F', 'male']

for item in gender:
    item_lower = item.lower()
    if 'f' in item_lower:
        print('female')
    else:
        print('male')

male
female
male
female
female
male
female
male

## Python: Nested Loops

In [27]:
# Create every combination of first and last names
firstNames = ['Sean', 'Sam', 'Simon', 'Samantha', 'Simean']
lastNames = ['Wong', 'Lee', 'Soong', 'Yu', 'Tang']

print('nested for loop:\n')
for fn in firstNames:
    for ln in lastNames:
        print(fn, ln)

nested for loop:

Sean Wong
Sean Lee
Sean Soong
Sean Yu
Sean Tang
Sam Wong
Sam Lee
Sam Soong
Sam Yu
Sam Tang
Simon Wong
Simon Lee
Simon Soong
Simon Yu
Simon Tang
Samantha Wong
Samantha Lee
Samantha Soong
Samantha Yu
Samantha Tang
Simean Wong
Simean Lee
Simean Soong
Simean Yu
Simean Tang

In [28]:
# Create every combination of first and last names
firstNames = ['Sean', 'Sam', 'Simon', 'Samantha', 'Simean']
lastNames = ['Wong', 'Lee', 'Soong', 'Yu', 'Tang']

print('\nnested while loop:\n')
fcount = 0
while fcount < len(firstNames):
    lcount = 0
    while lcount < len(lastNames):
        print(firstNames[fcount], lastNames[lcount])
        lcount += 1
    fcount += 1

nested while loop:

Sean Wong
Sean Lee
Sean Soong
Sean Yu
Sean Tang
Sam Wong
Sam Lee
Sam Soong
Sam Yu
Sam Tang
Simon Wong
Simon Lee
Simon Soong
Simon Yu
Simon Tang
Samantha Wong
Samantha Lee
Samantha Soong
Samantha Yu
Samantha Tang
Simean Wong
Simean Lee
Simean Soong
Simean Yu
Simean Tang

In [29]:
column = 1
row = 1

while column <= 10:
    while row <= 10:
        print(f'({column}, {row})')
        row += 1
    column += 1
    row = 1

(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(1, 7)
(1, 8)
(1, 9)
(1, 10)
(2, 1)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(2, 7)
(2, 8)
(2, 9)
(2, 10)
(3, 1)
(3, 2)
(3, 3)
(3, 4)
(3, 5)
(3, 6)
(3, 7)
(3, 8)
(3, 9)
(3, 10)
(4, 1)
(4, 2)
(4, 3)
(4, 4)
(4, 5)
(4, 6)
(4, 7)
(4, 8)
(4, 9)
(4, 10)
(5, 1)
(5, 2)
(5, 3)
(5, 4)
(5, 5)
(5, 6)
(5, 7)
(5, 8)
(5, 9)
(5, 10)
(6, 1)
(6, 2)
(6, 3)
(6, 4)
(6, 5)
(6, 6)
(6, 7)
(6, 8)
(6, 9)
(6, 10)
(7, 1)
(7, 2)
(7, 3)
(7, 4)
(7, 5)
(7, 6)
(7, 7)
(7, 8)
(7, 9)
(7, 10)
(8, 1)
(8, 2)
(8, 3)
(8, 4)
(8, 5)
(8, 6)
(8, 7)
(8, 8)
(8, 9)
(8, 10)
(9, 1)
(9, 2)
(9, 3)
(9, 4)
(9, 5)
(9, 6)
(9, 7)
(9, 8)
(9, 9)
(9, 10)
(10, 1)
(10, 2)
(10, 3)
(10, 4)
(10, 5)
(10, 6)
(10, 7)
(10, 8)
(10, 9)
(10, 10)

## Python: Break, Continue, Else (in loops)

In [30]:
## break is useful for searching for a string
count = 0
x = 1
while x == 1:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [31]:
# If x is odd, the continue statement is executed, 
# which skips the remaining code in the loop and proceeds to the next iteration.
for x in range(10):
    if x % 2 == 1:
        continue
    print(x)


""" 
0 % 2 == 0: Even number, so prints 0.
1 % 2 == 1: Odd number, continue skips printing.
2 % 2 == 0: Even number, so prints 2.
3 % 2 == 1: Odd number, continue skips printing.
4 % 2 == 0: Even number, so prints 4.
5 % 2 == 1: Odd number, continue skips printing.
6 % 2 == 0: Even number, so prints 6.
7 % 2 == 1: Odd number, continue skips printing.
8 % 2 == 0: Even number, so prints 8.
9 % 2 == 1: Odd number, continue skips printing.
"""

0
2
4
6
8

' \n0 % 2 == 0: Even number, so prints 0.\n1 % 2 == 1: Odd number, continue skips printing.\n2 % 2 == 0: Even number, so prints 2.\n3 % 2 == 1: Odd number, continue skips printing.\n4 % 2 == 0: Even number, so prints 4.\n5 % 2 == 1: Odd number, continue skips printing.\n6 % 2 == 0: Even number, so prints 6.\n7 % 2 == 1: Odd number, continue skips printing.\n8 % 2 == 0: Even number, so prints 8.\n9 % 2 == 1: Odd number, continue skips printing.\n'

In [32]:
count = 0
while count<5:
    print(count)
    count += 1
else:
    print('count reach the end:: ', count)

0
1
2
3
4
count reach the end::  5

In [33]:
for i in range (21,30):
    if (i % 5 == 0):
        break
    print (i)
else:
    print('This will never be printed because break does not allow "else" statement ')       

''' 
After i reaches 25 (which is divisible by 5), the break statement terminates the loop. 
Therefore, the else block is not executed, and the message within it 
("This will never be printed because break does not allow 'else' statement") is not printed.
'''

21
22
23
24

' \nAfter i reaches 25 (which is divisible by 5), the break statement terminates the loop. \nTherefore, the else block is not executed, and the message within it \n("This will never be printed because break does not allow \'else\' statement") is not printed.\n'